.footer {
    background-color: $accent-color;
    font-size: 1.4rem;
    color: $color-white;

    &__copyright {
        width: 80%;
        padding-bottom: 2.5rem;
        float: right;
    }

    &__logo-box {
        text-align: center;
        margin-bottom: -4rem;
    }

    &__logo {
        width: 15rem;
        height: auto;
    }

    &__link {
        &:link,
        &:visited {
            color: $color-white;
            background-color: $accent-color;
            text-decoration: none;
            text-transform: uppercase;
            display: inline-block;
            transition: all .2s;
            border-bottom: 1px solid $color-white;
        }

        &:hover,
        &:active {
            font-weight: 700;
            box-shadow: 0 1rem 2rem $shadow-3;
            transform: rotate(5deg) scale(1.3);
        }
    }
}